{% extends "main.html" %}
{% block content %}

{% load  static  %} %}
<div class="content-wrapper">
  <div class="row">
    
   
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Check Interest Rate</h4>


         
          <p class="card-description">
            Interest Table
          </p>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                 Loan
                  </th>
                  <th>
                    20% Interest
                  </th>
                  <th>
                    30% Interest
                  </th>
                  <th>
                    40% Interest
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for customer in rate %}
                <tr>
                  <td class="py-1">
                   {{customer.0}}
                  </td>
                  <td>
                   {{customer.8}}
                  </td>
                
                  <td>
                       # {{ per20 }}
                  </td>

                  <td>
                    {{ per30 }}
                  </td>

                  <td>
                    {{ per50 }}
                  </td>
                </tr>
              {% endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
  </div>
</div>
{% endblock content %}