{% extends "main.html" %}
{% block content %}

<div class="content-wrapper">
  <div class="row">
    
   
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Status</h4>


         
          <p class="card-description">
            Customer Status
          </p>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                 Status
                  </th>
                  <th>
                  Action
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for customer in customers %}
                <tr>
                  <td class="py-1">
                    {{customer.0}}
                  </td>
                  <td>
                    {% if customer.5 == "Pending" %}
                    <span class="btn-xm btn-danger me-2"> {{customer.5}} </span>
                    {% elif  customer.5 == "Approved" %} 
                    <span class="btn-xm btn-success me-2"> {{customer.5}} </span>
                    {% endif %}             
                  </td>
                  <td>
                  <a href="{% url 'editstatus' customer.6 customer.0 %}" class="btn-xm btn-primary me-2">EditStatus</a>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
  </div>
</div>
{% endblock content %}