 {% load static %}
 <!-- partial:partials/_sidebar.html -->
 <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="ti-shield menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#customer" aria-expanded="false" aria-controls="ui-basic">
        <i class="ti-palette menu-icon"></i>
        <span class="menu-title">Customer Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="customer">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/customer">Add Customer</a></li>
          <li class="nav_item"> <a class="nav-link" href="/customerinfo">All Customers Info</a></li>
         
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#status" aria-expanded="false" aria-controls="ui-basic">
        <i class="ti-palette menu-icon"></i>
        <span class="menu-title">Status Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="status">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/viewstatus">View Status</a></li>
          <li class="nav-item"> <a class="nav-link" href="/interest">View Interest Rate </a></li>
          
        </ul>
      </div>
    </li>

    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#loan" aria-expanded="false" aria-controls="ui-basic">
        <i class="ti-palette menu-icon"></i>
        <span class="menu-title">Loan Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="loan">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/applyloan">Apply For Loan Here</a></li>
          <li class="nav-item"> <a class="nav-link" href="/editcustomers">Edit Loan Status</a></li>
          
        </ul>
      </div>
    </li>
    
   
</ul>
</nav>
